/* CSS for Gameboard guy page */

html { box-sizing: border-box; } * { box-sizing: inherit; }

body { background-color: #556B24; }

/* GRID LAYOUT */
#container {
  display: grid;
  grid-template-rows: auto auto 5em;
  grid-template-columns: minmax(25em, 1fr) 16em;
  grid-template-areas: 
    "banner banner"
    "footer footer";
}

header { grid-area: banner; } 
main { grid-area: main; }
footer { grid-area: footer; }

header { background-image: url(../Images/Board%20Games_banner.jpg);
         background-repeat: no repeat;
         background-size: cover;
         height: 15em;
  }

header h1 { 
     margin-top: 1.5em;
}

nav { background: black;
      overflow: hidden;
       margin-top: -7px;
}


nav ul li a: a:link { color: #FF8C00; }
nav ul li a:visited { color: #BDB76B}
nav ul li a:focus { color: #FF8C00; background-color: #F8F8FF}
nav ul li a:hover { color: #FF8C00; background-color: #F8F8FF}
nav ul li a:active {  color: #FFA500; background-color: #F8F8FF}

nav ul {   margin: 0;  
           padding: 0;
           list-style-type: none;
           display: flex;
           justify-content: center;
}

nav ul li { font-size: .8em;
            text-transform: uppercase;
            letter-spacing:  .2em
}

nav ul li a { display: block;
              border 1px solid;
              border-radius: .5em;
              padding: .5em 1em;
              margin: .5em;
}

main { padding: 3em; }

h2 { font-family: Stencil, fantasy;
     color: #FFD700; 
     border-top: 4px solid;
     border-left: 6px solid;
     padding-left: 1em;
}

p { text align: left;
    font-family: Courier, monospace;
    color: #F5F5F5; }

a:link { color: #FF8C00; }
a:visited { color: #BDB76B}
a:focus { color: #FF8C00; background-color: #F8F8FF}
a:hover { color: #FF8C00; background-color: #F8F8FF}
a:active {  color: #FFA500; background-color: #F8F8FF}
     
dd { margine-right: 10 px;
     font-family: Courier, monospace;
     color: #F5F5F5; }

img { float: right; margin: 10px 12px; }

footer { clear: right; 
          Margin-top: 2em; }
