/* CSS for Gameboard guy page */

html { box-sizing: border-box; } * { box-sizing: inherit; }

body { background-color: #556B24; }





.header { background-image: url(../Images/Board%20Games_banner.jpg);
         background-repeat: no repeat;
         background-size: cover;
         padding: 20px;
  }



.topnav {   list-style-type: none;
           margin: 0;  
           padding: 0;
           overflow: hidden;
           background-color: black;
           position: fixed;
           top: 0;
           width: 100%;
           
}

.topnav li { float: left;
            border-right: 1px solid #FF8C00
}

.topnav a { display: block;
              color: #FF8C00;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
}

.topnav a:link { color: #FF8C00; }
.topnav li a:visited { color: #BDB76B}
.topnav li a:focus { color: #FF8C00; background-color: #F8F8FF}
.topnav li a:hover { color: #FF8C00; background-color: #F8F8FF}
.topnav li a:active {  color: #FFA500; background-color: #F8F8FF}

main { padding: 3em; }

h2 { font-family: Stencil, fantasy;
     color: #FFD700; 
     border-top: 4px solid;
     border-left: 6px solid;
     padding-left: 1em;
}

p { text align: left;
    font-family: Courier, monospace;
    color: #F5F5F5; }

a:link { color: #FF8C00; }
a:visited { color: #BDB76B}
a:focus { color: #FF8C00; background-color: #F8F8FF}
a:hover { color: #FF8C00; background-color: #F8F8FF}
a:active {  color: #FFA500; background-color: #F8F8FF}
     
dd { margine-right: 10 px;
     font-family: Courier, monospace;
     color: #F5F5F5; }

img { float: right; margin: 10px 12px; }

.footer { background-color: black;
          text-align: center;
          padding: 10px;
}
