/* CSS for Gameboard guy page Tome */

html { box-sizing: border-box;}

body {
  font-family: Courier, monospace;
  padding: 10px;
  background: purple;
  text-color: gray;
}

/* Header */
.header {
  padding: 30px;
  text-align: center;
  background: url(../Images/adventures.jpg);
  background-repeat: no repeat center center;
  object-fit: contain;
}

.header h1 {
  font-size: 50px;
  text-color: gray;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: black;
}

/* Style the topnav links */
.navbar a {
  float: left;
  display: block;
  color: #FF8C00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:visited { color: #BDB76B}
.navbar a:focus { color: #FF8C00; background-color: #F8F8FF}
.navbar a:hover { color: #FF8C00; background-color: #F8F8FF}



/* Style page content */
.main {
  padding: 0px 10px;
}



/* Add a card effect for articles */
.card {
   padding: 20px;
  margin-top: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: black;
  color: gray;
  margin-top: 20px;
}
