/* CSS for Gameboard guy page */

html { box-sizing: border-box; } * { box-sizing: inherit; }

body { background-color: #C0C0C0; }



.header { background-image: url(../Images/StartrekView.jpg);
         background-repeat: no repeat center center;
         background-size: cover;
         padding: 20px;
  }


.navbar {  overflow: hidden;
           background-color: black;      
}

.navbar a { float: left;
            display: block;
            color: #FF8C00;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
}

.navbar a: a:link { color: #FF8C00; }
.navbar a:visited { color: #BDB76B}
.navbar a:focus { color: #FF8C00; background-color: #F8F8FF}
.navbar a:hover { color: #FF8C00; background-color: #F8F8FF}
.navbar a:active {  color: #FFA500; background-color: #F8F8FF}

main { padding: 3em; }

.column {
         float: left;
         width: 25%;
}

.column {
         float:left;
         width: 75%;
}

.row:after {
         content: "";
         display: table;
         clear: both;
}

@media screen and (max-width: 600px) {
         .column: {
                  width: 100%
         }
}
h2 { font-family: Stencil, fantasy;
     color: #0000CD; }

h3{ font-family: Stencil, fantasy;
     color: #0000CD; }

p { text align: left;
    font-family: Courier, monospace;
    color: #000000; }


.footer {  background-color: black; 
         text-align: center;
          padding: 10px; }

footer p { color: #0000CD; }
