/* CSS for Gameboard guy page */

body { background-color: #556B24; }

h1 { text align: center;
     font-family: Stencil, fantasy;
     font-weight: 700;
     color: #FFD700; }

h2 { font-family: Stencil, fantasy;
     color: #FFD700; }

p { text align: left;
    font-family: Courier, monospace;
    color: #F5F5F5; }

dt { font-family: Courier, monospace;
    color: #FF8C00; }
     
dd { margine-right: 10 px;
     font-family: Courier, monospace;
     color: #F5F5F5; }

img { float: right; margin: 0 12px; }
