/* CSS for Gameboard guy page */

html { box-sizing: border-box; } * { box-sizing: inherit; }

body { background-color: #556B24; }

header { Margin-top: 0;
         height: 15em;
         padding: 3em  1em  2em  1em;
         text align: center;
         background-image: url(classProject/Board Games.JPG);
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
  }

main { padding: 15em; 
      
}

h1 { text align: center;
     font-family: Stencil, fantasy;
     font-weight: 700;
     color: #FFD700; }

h2 { font-family: Stencil, fantasy;
     color: #FFD700; 
     border-top: 4px solid;
     border-left: 6px solid;
     padding-left: 1em;
}

p { text align: left;
    font-family: Courier, monospace;
    color: #F5F5F5; }

a:link { color: #FF8C00; }
a:visited { color: #BDB76B}
a:focus { color: #FF8C00; background-color: #F8F8FF}
a:hover { color: #FF8C00; background-color: #F8F8FF}
a:active {  color: #FFA500; background-color: #F8F8FF}
     
dd { margine-right: 10 px;
     font-family: Courier, monospace;
     color: #F5F5F5; }

img { float: right; margin: 10px 12px; }
